.apresentacao__imagem{
   
    width: 20rem;
    height: 20rem;
    display:block;
}

ul{
    line-height: 3rem;
}
.apresentacao{
    flex-direction: column;
}

.apresentacao__conteudo{
    align-items: center;
    width: 75%
}
.apresentacao__conteudo__titulo{
    text-align: center;
}

.titulo__linguagens{
    list-style: square;
}

.github{
    padding: 2rem 0 1rem ;
}

.github__link{
    text-decoration: underline;
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__subtitulo{
    font-size: 2rem;
}

.idiomas{
    font-size: 2rem;
}

.github__link:hover{
    color: rgb(0, 128, 128);
}
@media screen and (max-width: 768px){


    .apresentacao__conteudo{
        align-items:start;
        width: 90%;
    }
    .apresentacao__conteudo__texto{
        text-align:justify;
    }
    .apresentacao__imagem{
        width: 75%;
        height: 75%;
    }
    .idiomas{
        font-size: 1.25rem;
    }
}
