.apresentacao__imagem{
   
    width: 20rem;
    height: 20rem;
    display:block;
}

ul{
    line-height: 3rem;
}
.apresentacao{
    flex-direction: column;
}

.apresentacao__conteudo{
    align-items: center;
    width: 75%
}
.apresentacao__conteudo__titulo{
    text-align: center;
}

.titulo__linguagens{
    list-style: square;
}

.github{
    padding: 2rem 0 1rem ;
}

.github__link{
    text-decoration: underline;
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__subtitulo{
    width: 100%;
    margin-top: 1.5rem;
    font-size: 2rem;
    text-align: left;
}
.apresentacao__conteudo ul{
    width: 100%;
    align-items:start;
    text-align: left;
}

.idiomas{
    font-size: 2rem;
}

.github__link:hover{
    color: rgb(0, 128, 128);
}

@media screen and (max-width: 1050px){
    .cabecalho__menu{
        gap: 2rem;
        border: hidden;
    }
    .cabecalho__menu__link{
        border: solid 0.5px;
        padding: 1rem; 
    }
    .apresentacao__conteudo{
        align-items:start;
        width: 90%;
    }
    .apresentacao__conteudo__texto{
        text-align:start;
    }
    .apresentacao__imagem{
        width: 75%;
        height: 75%;
    }
    .idiomas{
        font-size: 1.25rem;
    }
}
@media screen and (max-width: 768px){

}
